@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=JetBrains+Mono:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

body {
  font-family: "Inter", sans-serif;
  background: #030d12;
  color: #dcecf0;
}

button,
input,
select {
  font-family: inherit;
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #061219;
}

::-webkit-scrollbar-thumb {
  background: #173c46;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #245966;
}

.mono {
  font-family: "JetBrains Mono", monospace;
}